<h3>Kingdom Name</h3>

<div class="card">
    <div class="card-header">
        Basic Information
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <label>Alignment</label>
            </div>
            <div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Alignment
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Good</a>
                        <a class="dropdown-item" href="#">Neutral</a>
                        <a class="dropdown-item" href="#">Evil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
